# mqtt_listener - AccessGate Service (team-gate)
# Copy sang .env va dien credential THAT (khong commit .env)

MQTT_HOST=f6f78e87db4a4c189dd3d706745a5e93.s1.eu.hivemq.cloud
MQTT_PORT=8883
MQTT_USE_TLS=true
MQTT_USERNAME=DVKN2026
MQTT_PASSWORD=<dien-password-that-vao-day-khong-commit>

MQTT_INPUT_TOPIC=smart-campus/raw/access/rfid-uid
MQTT_OUTPUT_TOPIC=smart-campus/events/access

UID_WHITELIST_PATH=data/uid_whitelist.csv
